* {
	padding: 0px;
	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	font-family: Arial, sans-serif;
}

header {
	padding: 25px 0px;
	background-image: linear-gradient(70deg, #f46, #ff5);
	box-shadow: 0px 2px 5px #222;
}

nav {
	text-align: center;
}

main {
	flex-grow: 1;
	padding: 20px;
}

footer {
	padding: 13px 0px;
	margin-top: 30px;
	background-color: #333;
	text-align: center;
	color: #eee;
}

h1 {
	text-align: center;
	color: #124;
	letter-spacing: 2.7px;
}

h2 {
	padding-bottom: 15px;
	color: #474;
	font-family: "Times New Roman", serif;
	font-size: 28px;
}

p {
	margin-bottom: 30px;
	color: #333;
	font-size: 18px;
}

ul {
	margin-bottom: 30px;
	margin-left: 15px;
	color: #333;
	font-size: 18px;
}

*::selection {
	background-color: #777;
	text-shadow: none;
	color: #eee;
}